In [1]:
import pandas as pd

In [5]:
import numpy as np
import pandas as pd

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [18]:
lst=[1,2,3,4,'a',2.0,"f"]
print(lst)
df=pd.DataFrame(['a','b','c'],index=[1,2,4])
print(df)

[1, 2, 3, 4, 'a', 2.0, 'f']
   0
1  a
2  b
4  c

In [19]:
df=pd.DataFrame(['a','b','c'])
print(df)

   0
0  a
1  b
2  c

In [20]:

lst1=['a',2.0,"f"]
df=pd.DataFrame(lst1,index=[1,2,4])

df=pd.DataFrame(['a','b','c'],index=['r','t','u'])
df

   0
r  a
t  b
u  c

In [21]:
for key, value in df.iteritems():
    print(key,value)

0 r    a
t    b
u    c
Name: 0, dtype: object

In [22]:
lst1=['2', 2.0,"f"]
df=pd.DataFrame(lst1, index=[1,2,4])
print(df)

     0
1    2
2  2.0
4    f

In [24]:
#df=pd.Dataframe(['a','b','c']), index=['r','t','u']
#print(df)

In [12]:
#create a DataFrame from Lists
#The DataFrame can be created using a single list or a list of lists

#print(df)
#df=pd.DataFrame(['a','b','c'])
#print(df)

#working
lst1 = ['a',2.0,"f"]
df=pd.DataFrame(lst1, index=[1,2,4])
print(df)

#working
for x, n in df.iteritems():
    print(x,n)

#working
#for row_index,row in df.iterrows():
#print(row_index,row)

     0
1    a
2  2.0
4    f
0 1      a
2    2.0
4      f
Name: 0, dtype: object

In [26]:
for x,n in df.iteritems():
    print(x,n)

0 1      2
2    2.0
4      f
Name: 0, dtype: object

In [27]:
df=pd.DataFrame(np.random.randn(4,3),index=[6,7,8,9],columns=['col1','cold2','col3'])
print(df)
for row_index,row in df.iterrows():
    print(row_index,row)
for row_index,row in df.iteritems():
    print(row_index,row)

       col1     cold2      col3
6  0.798484  0.166945 -1.215187
7  1.190839 -0.052254  0.266847
8 -1.850930  1.620880  1.636443
9 -0.108807 -0.902532 -0.325923
6 col1     0.798484
cold2    0.166945
col3    -1.215187
Name: 6, dtype: float64
7 col1     1.190839
cold2   -0.052254
col3     0.266847
Name: 7, dtype: float64
8 col1    -1.850930
cold2    1.620880
col3     1.636443
Name: 8, dtype: float64
9 col1    -0.108807
cold2   -0.902532
col3    -0.325923
Name: 9, dtype: float64
col1 6    0.798484
7    1.190839
8   -1.850930
9   -0.108807
Name: col1, dtype: float64
cold2 6    0.166945
7   -0.052254
8    1.620880
9   -0.902532
Name: cold2, dtype: float64
col3 6   -1.215187
7    0.266847
8    1.636443
9   -0.325923
Name: col3, dtype: float64

In [29]:
A={'A' : ['a','b','c'], 'B':[1,2,3], 'C':[2014,2015,2016],'D':['AA','BB','yy']}
print(A)
df=pd.DataFrame(A)

df = pd.DataFrame(A)
df = pd.DataFrame(A,index=[1,2,4])
print(df)

{'A': ['a', 'b', 'c'], 'B': [1, 2, 3], 'C': [2014, 2015, 2016], 'D': ['AA', 'BB', 'yy']}
   A  B     C   D
1  a  1  2014  AA
2  b  2  2015  BB
4  c  3  2016  yy

In [32]:
#LstDic = [{'A':['a','b','c']},{'B':[1,2,3]},'C':{'AA','BB','CC'}]
data = [{'a': ['a','b','c']}, {'a': 5, 'b':10, 'c' : 20},{'a':11, 'h':1, 'g':6}]
df = pd.DataFrame(data, index=['first', ' second', 'th'])
print(df)

                 a     b     c    h    g
first    [a, b, c]   NaN   NaN  NaN  NaN
 second          5  10.0  20.0  NaN  NaN
th              11   NaN   NaN  1.0  6.0

In [33]:
lst = [[1,2,3],['a','b','c']]
df =pd.DataFrame(lst, index =['m','n'], dtype = float)
print(df)

   0  1  2
m  1  2  3
n  a  b  c

In [34]:
lst = [['a','b','c'],[1,2,3]]
df =pd.DataFrame(lst, index =['m','n'], dtype = float)
print(df)

   0  1  2
m  a  b  c
n  1  2  3

In [40]:
lst1 = [['a','b'],[1,2]]
df =pd.DataFrame(lst1, index =['m','n'], columns=['A','B'], dtype = float)
print(df)

   A  B
m  a  b
n  1  2

In [43]:
df = pd.DataFrame(lst1,columns=['A','B'],dtype = float)
print(df)

   A  B
0  a  b
1  1  2

In [45]:
data = [['Alex',10],['Bob',12],['Clarke', 13]]
df = pd.DataFrame(data,columns=['name','age'], dtype= float)
print(df)

     name   age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0