In [2]:
lst = ['11',1,3]
print (lst)

['11', 1, 3]

In [4]:
print(lst)

['11', 1, 3]

In [5]:
mylist = ["Apple", "Banana", "Cherry"]
print(mylist)
thislist = list(("Apple", "Banana", "Cherry"))
print(thislist)

['Apple', 'Banana', 'Cherry']
['Apple', 'Banana', 'Cherry']

In [6]:
print(mylist)

['Apple', 'Banana', 'Cherry']

In [8]:
lst[0]

'11'

In [9]:
thislist = ["Apple","Banana","Cherry"]
print(len(thislist))

3

In [18]:
list1 = ["Apple","Banana","Cherry"]
list2 = [1,5,7,9,3]
list3 = [True, False, False]
newlist = [x if x != "Banana" else "Orange" for x in fruits]

In [17]:
fruits = ["Apple", "Banana", "Cherry"]
print(fruits)

['Apple', 'Banana', 'Cherry']

In [19]:
list1 = ["abc",34,True,40,"Male"]
print(list1)

['abc', 34, True, 40, 'Male']

In [20]:
mylist = ["Apple","Banana","Cherry"]
print(type(mylist))

<class 'list'>

In [22]:
list1 = ["a","b","c"]
list2 = [1, 2, 3]
list4 = list2*2
print(list4)

list3 = list1 + list2
print(list3)

[1, 2, 3, 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [23]:
list1 = ['physics','chemistry', 1997, 2000];
list2 = [1,2,3,4,5,6,7];
print("list1[0]: ", list1[0])
print("list2[1:5]:", list2[1:5])

list1[0]:  physics
list2[1:5]: [2, 3, 4, 5]

In [25]:
list = ['physics','chemistry', 1997, 2000];
print(list[2])
list[2] = 2001;
print(list[2])

1997
2001

In [28]:
list1 = ['physics','chemistry', 1997, 2000];
print(list1)
del list1[2];
print("After deleting value at index 2:",(list1))

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2: ['physics', 'chemistry', 2000]

In [31]:
list1 = ['physics','chemistry', 1997, 2000];
list2 = [1,2,3,4,5,6,7];
print("list1[0]:",list1[0])
print("list2[1:5]:",list2[-3:])
print("list2[1:5]:", list2[2:])
print("list2[1:5]:", list2[:2])

list1[0]: physics
list2[1:5]: [5, 6, 7]
list2[1:5]: [3, 4, 5, 6, 7]
list2[1:5]: [1, 2]

In [32]:
thislist = ["apple","banana","cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [34]:
thislist = ["apple","banana","cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [35]:
thislist = ["apple","banana","cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

In [36]:
list1 = ["a","b","c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [38]:
newlist0 = [x for x in range(10)]
newlist1 = [x for x in range(10) if x < 5]
newlist2 = [x.upper() for x in fruits]
print(newlist0,newlist1,newlist2)

fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = [x.upper() for x in fruits]
newlist = ['hello' for x in fruits]
newlist = [x if x != "banana" else "orange" for x in fruits]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] [0, 1, 2, 3, 4] ['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [39]:
list = [1,2,3,4,5,6]
print(list[1:4])

[2, 3, 4]

In [40]:
list = ['Python','.Net']

list.append("Java")
print("\n",list)

list.extend(['C','C#'])
print("\n",list)

list.insert(1, 'C')
print("\n",list)

list.remove('C')
print("\n",list)

print("\n",sorted(list))
print("\n",list[::-1])

 ['Python', '.Net', 'Java']

 ['Python', '.Net', 'Java', 'C', 'C#']

 ['Python', 'C', '.Net', 'Java', 'C', 'C#']

 ['Python', '.Net', 'Java', 'C', 'C#']

 ['.Net', 'C', 'C#', 'Java', 'Python']

 ['C#', 'C', 'Java', '.Net', 'Python']

In [41]:
thistuple = ("Apple", "Banana", "Cherry")
print(thistuple[-1])

Cherry

In [44]:
thistuple = ("Apple", "Banana", "Cherry","Orange","Kiwi","Melon","Mango")
print(thistuple[:4])
print(thistuple[2:])
print(thistuple[-4:-1])

('Apple', 'Banana', 'Cherry', 'Orange')
('Cherry', 'Orange', 'Kiwi', 'Melon', 'Mango')
('Orange', 'Kiwi', 'Melon')

In [5]:
thistuple=("Apple","Banana","Cherry")
if "Apple" in thistuple:
    print("Yes,'Apple' is in the fruits tuple")

Yes,'Apple' is in the fruits tuple

In [6]:
thistuple = ("Apple","Banana","Cherry")
for i in range(len(thistuple)):
    print(thistuple[i])
    
thistuple = ("Apple","Banana","Cherry")
for i in range(0,2):
    print(thistuple[i])

Apple
Banana
Cherry
Apple
Banana

In [7]:
x = ("Apple","Banana","Cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('Apple', 'kiwi', 'Cherry')

In [8]:
thistuple = ("Apple","Banana","Cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('Apple', 'Banana', 'Cherry', 'orange')

In [9]:
thistuple = ("Apple","Banana","Cherry")
y = ("Orange",)
thistuple += y

print(thistuple)

('Apple', 'Banana', 'Cherry', 'Orange')

In [10]:
thistuple = ("Apple","Banana","Cherry")
y = list(thistupple)
y.remove("Apple")
thistuple = tuple(y)
print(thistuple)

NameError: name 'thistupple' is not defined

In [11]:
set1 = {"Apple","Banana","Cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1,set2,set3)

{'Cherry', 'Apple', 'Banana'} {1, 3, 5, 7, 9} {False, True}

In [12]:
myset = {"Apple","Banana","Cherry"}
print(type(myset))

<class 'set'>

In [13]:
thisset = set(("Apple","Banana","Cherry"))
print(thisset)

{'Cherry', 'Apple', 'Banana'}

In [14]:
thisset = {"Apple","Banana","Cherry"}

for x in thisset:
    print(x)

Cherry
Apple
Banana

In [16]:
thisset = {"Apple","Banana","Cherry"}

print("Banana" in thisset)

True

In [17]:
thisset = {"Apple","Banana","Cherry"}
mylist = ["kiwi","Orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'Banana', 'Cherry', 'Apple', 'Orange'}

In [18]:
thisset = {"Apple","Banana","Cherry"}

x = thisset.pop()

print(x)
print(thisset)

Cherry
{'Apple', 'Banana'}

In [19]:
thisset = {"Apple","Banana","Cherry"}
tropical = {"Pineapple","Mango","Papaya"}

thisset.update(tropical)

print(thisset)

{'Cherry', 'Apple', 'Pineapple', 'Banana', 'Mango', 'Papaya'}

In [24]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    else:
        return "Equal"
print(compare_to_five(10))
print(compare_to_five(2))
print(compare_to_five(5))

Greater
Less
Equal

In [26]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:
        return "Less"
    else:
        return "Equal"
print(compare_to_five(-3))
print(compare_to_five(3))

Negative
Less

In [ ]:
x = "awesome"