In [1]:
#Bool
print(bool("hello"))
print(bool(15))

True
True

In [2]:
#Bool
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [3]:
bool("abc")
bool(123)
bool(["Apple","Cherry","Banana"])

True

In [4]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [5]:
#bool
def myFunction() :
    return True
print(myFunction())

True

In [8]:
#bool
def myFunction() :
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [9]:
x=200
print(isinstance(x, int))

True

In [11]:
def fn(str) :
    "this prints a passed string into this function"
    print(str)
    return

fn(4)
fn("I am first call to user defined function")
fn("Again second call to the same function")

4
I am first call to user defined function
Again second call to the same function

In [13]:
def fn (mylist):
    "This changes a passed list into this function"
    mylist.append([1,2,3,4])
    print("Values inside the function: ",mylist)
    return

mylist = [10,20,30];
fn ( mylist );
print("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [16]:
def changeme (mylist):
    "This changes a passed list into this function"
    mylist = [1,2,3,4];
    print("Values inside the function: ",mylist)
    return

mylist = [10,20,30];
changeme( mylist );
print("Values outside the function: ", mylist)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [17]:
def fn( str):
    "This prints a passed string into this function"
    print(str)
    return;

fn(str = "My string")

My string

In [18]:
x = 88

In [19]:
x

88

In [21]:
def fn( name, age):
    "This prints a passed string into this function"
    print("Name: ", name)
    print ("Age: ", age)
    return;

fn( age=50, name="mike")

Name:  mike
Age:  50

In [22]:
def printinfo(name, age = 35):
    "this prints a passed info this function"
    print("Name: ", name)
    print("Age: ", age)
    return;
printinfo(age= 50, name ='niki')
printinfo(name= "niki")

Name:  niki
Age:  50
Name:  niki
Age:  35

In [32]:
#Function definition is here
#def fn(arg1, *vartuple):
def fn( arg1,arg2,arg3, *x):
#def fn( arg1):
    "This prints a variable passed arguments "
    print("output is: ")
    print(arg1)
    print(arg2)
    print(arg3)
    print(x[0],x[1],x[3])
    for var in x:
        print("Hi")
        print(var)
    #return
    
#call ptintinfo function
#fn(10)
#fn(70,60,50)
fn(70, 60, 50, 40, 40, 50, "Huiiii", 10.555)

output is:
70
60
50
40 40 Huiiii
Hi
40
Hi
40
Hi
50
Hi
Huiiii
Hi
10.555

In [27]:
#The anonymous functions

sum = lambda arg1, arg2: arg1 + arg2;

#Now you can call sum as a function
print("Value of total : ", sum(10,20))
print("Value of total : ", sum(20,20))

Value of total :  30
Value of total :  40

In [28]:
x = lambda a : a+10
print(x(5))

x = lambda a, b : a*b
print(x(5,6))

x = lambda a,b,c : a+b+c
print(x(5,6,2))

15
30
13

In [29]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
print(myfunc(2))

print(mydoubler(11))

<function myfunc.<locals>.<lambda> at 0x00FA4A48>
22

In [30]:
def myfunc(n):
    return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [33]:
thisdict = {
    "brand" : "Ford",
    "electric": False,
    "year" : 1964,
    "colors" : ["red","white","blue"]
}

thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

In [34]:
car = {
    "brand" : "Ford",
    "model": "mustang",
    "year" : 1964
}

x = car.keys()
print(x) #before the change
car["color"] = "white"
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [37]:
car = {
    "brand" : "Ford",
    "model": "mustang",
    "year" : 1964
}

x = car.values()
print(x) #before the change
car["year"] = 2020
car.update({"year":2021})
print(x) #after the change
car

dict_values(['Ford', 'mustang', 1964])
dict_values(['Ford', 'mustang', 2021])

{'brand': 'Ford', 'model': 'mustang', 'year': 2021}

In [39]:
dic = {}

dict1 = {1: 'apple', 2: 'ball'}

dict2 = {'name': 'John', 1:[2,4,3]}

dict3 = dict({1:'apple', 2:'ball'})

dict4 = dict([(1,'apple'),(2,'ball')])

print(dict1,dict2,dict3,dict4)

{1: 'apple', 2: 'ball'} {'name': 'John', 1: [2, 4, 3]} {1: 'apple', 2: 'ball'} {1: 'apple', 2: 'ball'}

In [40]:
my_dict = {'name': 'jack','age': 26}

print(my_dict['name'])

print(my_dict.get('age'))
print(my_dict.get('address'))
print(my_dict('age'))

jack
26
None

TypeError: 'dict' object is not callable

In [41]:
#Dictionary Methods 
marks = {}.fromkeys(['Math','English','Science'], 0)

print(marks)

for item in marks.items():
    print(item)
    
print(list(sorted(marks.keys())))

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)
['English', 'Math', 'Science']

In [42]:
#Dictionary Comprehension
squares = {x: x*x for x in range(6)}

print(squares)

squares = {}
for x in range(6):
    squares[x] = x*x
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [43]:
squares = {1: 1, 3: 9, 5:25, 7:49}

print(1 in squares)
print(2 not in squares)

print(49 in squares)

True
True
False

In [45]:
squares ={1:1, 3:9, 5:25, 7:49, 9:81}
for i in squares:
    print(squares[i])

1
9
25
49
81

In [46]:
my_information = {'name': 'Dionysia', 'age': 28, 'location': 'Athens'}

city = my_information.pop('location')
print(my_information)
print(city)

{'name': 'Dionysia', 'age': 28}
Athens

In [47]:
my_information = {'name': 'Dionysia', 'age': 28, 'location': 'Athens'}
my_information.pop('occupation')
print(my_information)
print(city)

KeyError: 'occupation'

In [50]:
dic = {
    "child1" : {
       "name" : "Emil",
        "year": 2004
    },
    "child2" : {
       "name" : "Tobias",
        "year": 2007
    },
    "child3" : {
       "name" : "Linus",
        "year": 2011
    },
}

print(dic)
print(dic['child3'])

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{'name': 'Linus', 'year': 2011}

In [51]:
a1={
    "name":"emil",
    "year":2004
}
a2={
    "name":"Tobias",
    "year":2012
}
a3={
    "name":"Linus",
    "year":2011
}
aa={
    "child1":a1,
    "child1":a2,
    "child1":a3
}
print(aa)

{'child1': {'name': 'Linus', 'year': 2011}}